:root {
  /* Astronaut */
  --Astronaut:   #123852;
  --Astronaut80: #123852CC;
  --Astronaut60: #12385299;
  --Astronaut40: #12385266;
  --Astronaut20: #12385233;

  /* Skybolt */
  --Skybolt:     #45A8F8;
  --Skybolt80:   #45A8F8CC;
  --Skybolt60:   #45A8F899;
  --Skybolt40:   #45A8F866;
  --Skybolt20:   #45A8F833;

  /* Nickel */
  --Nickel:      #7C7B7B;
  --Nickel80:    #7C7B7BCC;
  --Nickel60:    #7C7B7B99;
  --Nickel40:    #7C7B7B66;
  --Nickel20:    #7C7B7B33;

  /* Obsidian */
  --Obsidian:    #231F20;
  --Obsidian80:  #231F20CC;
  --Obsidian60:  #231F2099;
  --Obsidian40:  #231F2066;
  --Obsidian20:  #231F2033;

  /* Command */
  --Command:     #1D293D;
  --Command80:   #1D293DCC;
  --Command60:   #1D293D99;
  --Command40:   #1D293D66;
  --Command20:   #1D293D33;

  /* Signal */
  --Signal:      #0072A7;
  --Signal80:    #0072A7CC;
  --Signal60:    #0072A799;
  --Signal40:    #0072A766;
  --Signal20:    #0072A733;

  --surface: #FFFFFF;
  --bg: #F4F6FB;

  /* Crimson */
  --Crimson: #C73B42;
  --Crimson60: #C73B4266;

  /* Citrine */
  --Citrine: #D5C31F;
  --Citrine40: #D5C31F33;

  /* Emerald */
  --Emerald: #50C878;
  --Emerald40: #50C87833;

  --btn: var(--Command60);
  --btn-hover-shadow: 0 0 18px rgba(155, 92, 255, 0.35); 
}

#root, body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0; 
  padding: 0;
}

@font-face {
  font-family: "Rajdhani";
  src: url("./assets/Fonts/Rajdhani/Rajdhani-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("./assets/Fonts/Rajdhani/Rajdhani-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("./assets/Fonts/Rajdhani/Rajdhani-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("./assets/Fonts/Rajdhani/Rajdhani-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("./assets/Fonts/Rajdhani/Rajdhani-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body,
#root {
  font-family: "Rajdhani", Arial, sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.page {
  width: 100vw;
  height: 100vh;
}