.footer {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 10;
}

.footer p {
    font-family: "Outfit", Arial, sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.GSS-logo {
    height: 20px;
    width: auto;
    display: block;
    cursor: pointer;
}