.text-field-container {
    flex: 1;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 420px);
    justify-content: center;
    align-items: start;
    align-content: center;
    column-gap: 220px;
    margin: auto 0;
    z-index: 2;
}

.react-aria-TextField {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.react-aria-Label {
    font-size: 1.2rem;
    font-weight: 500;
    color: #e5ebe6;
}

.react-aria-Input,
.react-aria-TextArea {
    width: 100%;
    min-height: 36px;
    padding: 5px 12px;
    box-sizing: border-box;
    margin: 0;

    border: 1px solid var(--Signal);
    border-radius: 8px;

    background: var(--Obsidian40);
    color: #f9fafb;
    font: 1rem inherit;

    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.react-aria-TextArea {
    display: block;
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    padding: 8px;
    resize: vertical;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 500;
}

.react-aria-Input::placeholder,
.react-aria-TextArea::placeholder {
    color: #9ca3af;
}

.react-aria-Input[data-focused]:not([readonly]),
.react-aria-TextArea[data-focused]:not([readonly]) {
    border-color: var(--Signal);
    outline: 2px solid var(--Signal);
    outline-offset: 2px;
}

.react-aria-Input[data-disabled],
.react-aria-TextArea[data-disabled] {
    opacity: 0.6;
}

.text-field-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.maintenance-textarea-wrapper,
.ai-textarea-wrapper {
    position: relative;
    width: 100%;
    border-radius: 8px;
}

.maintenance-textarea-wrapper .react-aria-TextArea {
    border: 1px solid var(--Signal);
    border-radius: 8px;

    background:
        linear-gradient(#101322, #101322) padding-box;

    box-shadow: 0 0 10px var(--Skybolt);
}

.ai-textarea-wrapper {
    box-shadow: none;
}

.ai-textarea-wrapper .react-aria-TextArea {
    border: 2px solid transparent;
    border-radius: 8px;

    background:
        linear-gradient(#101322, #101322) padding-box,
        var(--btn-gradient-border) border-box;

    background-size: 100% 100%, 300% 300%;
    background-position: center, 0% 50%;

    box-shadow: 0 0 15px purple;
    animation: movingGradientBorder 3s linear infinite;
}

@keyframes movingGradientBorder {
    0% {
        background-position: center, 0% 50%;
    }

    50% {
        background-position: center, 100% 50%;
    }

    100% {
        background-position: center, 0% 50%;
    }
}

.react-aria-TextArea,
.ai-note-output {
  width: 100%;
  min-height: 250px;
  height: 250px;
  padding: 14px 18px;
  box-sizing: border-box;

  font-family: var(--sans);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;

  color: #e5ebe6;
  background: #101322;

  border-radius: 8px;
}